@media screen and (min-width: 360px) {
    .cabecera__item{
        display: none;
    }
    .cabecera__item-enlace{
        color: #464646;
        text-decoration: none;

    }
}

@media screen and (min-width: 768px) {
    .cabecera__item{
        display: none;
    }
    .cabecera__item-enlace{
        color: #464646;
        text-decoration: none;

    }
}

@media screen and (min-width: 1024px) {
    .cabecera__item{
        color: #464646;
        font-size: 0.9rem;
        list-style: none;
        margin-left: 1rem;
        display: block;
    }

    .cabecera__item-enlace{
        color: #464646;
        text-decoration: none;

    }
}